body{
    flex-direction: column;
    background-color:#3b5998
}

body, .header, .content, .header-links, .footer-links{
    display: flex;
}



.header{
    justify-content: space-between;
    padding: 14px;
}

.header > img{
    height: auto;
    width: 250px;
    margin-left: 100px;
}

.header-links > a{
    font-size: 18px;
}

.header-links{
    gap: 16px;
    margin-right: 100px;
   
}

.content{
    background-color: grey;
    justify-content: center;
}

.welcome{
    width: 500px;
}

.welcome.top{
    font-size: 20px;
    font-weight: 700;
}

.footer{
    padding: 16px;  
}

.footer-links{
    justify-content: center;
    color: white;
    font-size: 14px;
}

a{
    color: white;
    text-decoration: none;
}


 