

body{
    margin: 0;
    background-color:#3b5998;
}

a{
    color: white;
    text-decoration: none;
}

.header, .header-links, 
.content, .content-top,  .mid,
.top-left, .footer-links, .ad,
.content-bott
{
    display: flex;
}

.content, .top-left, .content-mid{
    flex-direction: column;
} 


/* Header */
.header{
    justify-content: space-between;
    padding: 14px;
}

.header > img{
    height: auto;
    width: 250px;
    margin-left: 100px;
}

.header-links > a{
    font-size: 18px;
}

.header-links{
    gap: 16px;
    margin-right: 100px;
   
}

/* Content */
.content{
    align-items: center;   
}

/* Content top */

.content-top{
    padding: 32px;
}

.top-left{
    width: 700px;
}

.welcome-top{
    font-size: 48px;
    font-weight: 700;
}

.button-top{
    width: 75px;
    background-color:rgb(84, 150, 236);
    border-radius: 5px;
    border-width: 1px;
    margin-top:16px;
}

.top-img{
    height: auto;
    width:125px;
    padding: 16px;
    
}

/* Content mid */
.content-mid, .content-bott{
    background-color: rgb(182, 184, 184);
    width: 100%;
  
}

.mid{
    justify-content: center;
    padding: 32px;
}
.mid.top{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.mid.mid{
    gap: 5em;
}

.box > img, .box{
    height: auto;
    width: 150px;
}

.box > img{
    border-radius: 16px;
}

.mid.bott{
    font-size: 24px;
    background-color: white; 
    border-radius: 5px;
    padding: 32px;

}

/* Content bottom */
.content-bott{
    justify-content: center;
}


.ad{
    width: 800px;
    height: 50px;
    padding: 34px;
    margin: 64px;
    background-color:rgb(59, 139, 244);
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
}

.button-bott{
    margin: 16px;
    margin-left: 60px;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    background-color:rgb(50, 128, 231);
    color: white;
    border-color: white;
    border-width: 1px;
    font-size: 16px;
    font-weight: 700;
}
   
.ad > .text{
    color: white;
}
  
.ad > .text > .top{
    font-size: 20px;
    font-weight:900;
}
 

/* Footer */
.footer{
    padding: 16px;  
}

.footer-links{
    color: white;
    font-size: 14px;
    justify-content: center;
}



 